@model IEnumerable<MonuGuardaApp.Models.PontosVisita>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PontosdeInteresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitasGuiadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ordem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PontosdeInteresse.Concelho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitasGuiadas.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ordem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PontosVisitaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PontosVisitaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PontosVisitaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
