@model PontosdeInteresseListViewModel

@{
    ViewData["Title"] = "PontosdeInteresse";
}

<p style="margin-top: 20px">
    <a asp-action="Create">Criar novo ponto de interesse</a>
</p>
<p>Pontos de interesse existentes:</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Freguesia
            </th>
            <th>
                Concelho
            </th>
            <th>
                Morada
            </th>
            <th>
                Coordenadas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PontosdeInteresse)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Freguesia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Concelho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Morada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coordenadas)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PontosdeInteresseId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PontosdeInteresseId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PontosdeInteresseId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav class="mt-3">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="1" asp-route-name="@Model.SearchName">First</a></li>

        @{
            int initalPage = Model.Pagination.CurrentPage - PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
            if (initalPage < 1) initalPage = 1;

            int finalPage = Model.Pagination.CurrentPage + PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
            if (finalPage > Model.Pagination.TotalPages) finalPage = Model.Pagination.TotalPages;
        }

        @for (int p = initalPage; p <= finalPage; p++)
        {
            if (p == Model.Pagination.CurrentPage)
            {
                <li class="page-item active"><a class="page-link" href="#">@p</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p" asp-route-name="@Model.SearchName">@p</a></li>
            }
        }

        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@Model.Pagination.TotalPages" asp-route-name="@Model.SearchName">Last</a></li>
    </ul>
</nav>
