@model PontosdeInteresseListViewModel

@{
    ViewData["Title"] = "Index";
}

<p style="margin-top: 20px">
    <a asp-action="Create">Criar novo ponto de interesse</a>
</p>
<p>Pontos de interesse existentes:</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Concelho</th>
            <th>Morada</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.PontosdeInteresse)
        {
        <tr>
            <td>@p.Nome</td>
            <td>@p.Concelho.Nome</td>
            <td>@p.Morada</td>
            <td>
                <a asp-action="Edit" asp-route-id="@p.PontosdeInteresseId">Editar</a> |
                <a asp-action="Details" asp-route-id="@p.PontosdeInteresseId">Ver mais</a> |
                <a asp-action="Delete" asp-route-id="@p.PontosdeInteresseId">Apagar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<nav class="mt-3">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="1" asp-route-name="@Model.SearchName"><<</a></li>

        @{
            int initalPage = Model.Pagination.CurrentPage - PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
            if (initalPage < 1) initalPage = 1;

            int finalPage = Model.Pagination.CurrentPage + PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
            if (finalPage > Model.Pagination.TotalPages) finalPage = Model.Pagination.TotalPages;
        }

        @for (int p = initalPage; p <= finalPage; p++)
        {
            if (p == Model.Pagination.CurrentPage)
            {
                <li class="page-item active"><a class="page-link" href="#">@p</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p" asp-route-name="@Model.SearchName">@p</a></li>
            }
        }

        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@Model.Pagination.TotalPages" asp-route-name="@Model.SearchName">>></a></li>
    </ul>
</nav>