@model MonuGuardaApp.Models.VisitasGuiadas

@{
    ViewData["Title"] = "Delete";
}

<h3 style="margin-top: 20px">Tem a certeza que deseja apagar esta visita guiada?</h3>
<div>
    <hr/>
    <dl class="row">
        <dt class = "col-sm-2">
            Id do guia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuiaId)
        </dd>
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            Local de partida
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalPartida)
        </dd>
        <dt class = "col-sm-2">
            Local de chegada
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalChegada)
        </dd>
        <dt class = "col-sm-2">
            Data da visita guiada
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVisita)
        </dd>
        <dt class = "col-sm-2">
            Morada
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt class = "col-sm-2">
            Telemóvel
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telemovel)
        </dd>
        <dt class = "col-sm-2">
            Número máximo de pessoas
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NMaxPessoas)
        </dd>
        <dt class = "col-sm-2">
            Completo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Completo)
        </dd>
    </dl>
    
    <form asp-action="Delete" style="margin-bottom: 20px">
        <input type="hidden" asp-for="VisitasGuiadasId" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar a lista</a>
    </form>
</div>
