@model MonuGuardaApp.Models.VisitasGuiadas

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <section>
                        <form id="account" method="post">
                            <h5 class="card-title text-center">Detalhes da visita guiada</h5>
                            <hr />
                            <div class="form-group">
                                <label asp-for="GuiaId" class="control-label font-weight-bold">Guia:</label>
                                @Html.DisplayFor(model => model.Guia.Nome)
                            </div>
                            <div class="form-group">
                                <label asp-for="Nome" class="control-label font-weight-bold">Nome:</label>
                                @Html.DisplayFor(model => model.Nome)
                            </div>
                            <div class="form-group">
                                <label asp-for="DatadaVisita" class="control-label font-weight-bold">Data da visita:</label>
                                @Html.DisplayFor(model => model.DatadaVisita)
                            </div>
                            <div class="form-group">
                                <label asp-for="Descricao" class="control-label font-weight-bold">Descrição:</label>
                                @Html.DisplayFor(model => model.Descricao)
                            </div>
                            <div class="form-group">
                                <label asp-for="NMaxPessoas" class="control-label font-weight-bold">Número máximo de pessoas:</label>
                                @Html.DisplayFor(model => model.NMaxPessoas)
                            </div>
                            <div class="form-group">
                                <label asp-for="Completo" class="control-label font-weight-bold">Completo:</label>
                                @Html.DisplayFor(model => model.Completo)
                            </div>
                            <div>
                                <button class="btn btn-lg btn-secondary btn-block text-uppercase" asp-action="Index">Voltar a lista</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
