@model MonuGuardaApp.Models.VisitasGuiadas

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4 style="margin-top: 20px">Detalhes da visita guiada</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Guia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guia.GuiaId)
        </dd>
        <dt class = "col-sm-2">
            Pontos de interesse
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PontosdeInteresse.PontosdeInteresseId)
        </dd>
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            Local de partida
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalPartida)
        </dd>
        <dt class = "col-sm-2">
            Local de chegada
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalChegada)
        </dd>
        <dt class = "col-sm-2">
            Local da visita guiada
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVisita)
        </dd>
        <dt class = "col-sm-2">
            Descrição
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            Número máximo de pessoas
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NMaxPessoas)
        </dd>
        <dt class = "col-sm-2">
            Completo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Completo)
        </dd>
    </dl>
</div>
<div style="margin-bottom: 20px">
    <a asp-action="Edit" asp-route-id="@Model.VisitasGuiadasId">Editar</a> |
    <a asp-action="Index">Voltar a lista</a>
</div>
