@model IEnumerable<MonuGuardaApp.Models.VisitasGuiadas>

@{
    ViewData["Title"] = "Index";
}

<p style="margin-top: 20px">
    <a asp-action="Create">Criar nova visita guiada</a>
</p>
<h4>Veja aqui as Visitas Guiadas Disponíveis</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Id do Guia
            </th>
            <th>
                Nome
            </th>
            <th>
                Local de partida
            </th>
            <th>
                Local de chegada
            </th>
            <th>
                Data da visita
            </th>
            <th>
                Morada
            </th>
            <th>
                Telemóvel
            </th>
            <th>
                Número máximo de pessoas
            </th>
            <th>
                Completo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GuiaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalPartida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalChegada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataVisita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Morada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telemovel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NMaxPessoas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VisitasGuiadasId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.VisitasGuiadasId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.VisitasGuiadasId">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="col" style="margin-bottom: 20px">
    <a class="btn btn-lg btn-secondary btn-block" href="/ReservaVisita/Create">Inscreve-te aqui</a>
</div>