@model VisitasGuiadasListViewModel

@{
    ViewData["Title"] = "Index";
}

<p style="margin-top: 20px">
    <a asp-action="Create">Criar nova visita guiada</a>
</p>
<p>Veja as visitas guiadas disponíveis aqui!!</p>
<div class="card mt-3 bg-info">
    <div class="card-body">
        <form asp-action="Index" method="get">
            <input name="name" type="search" class="form-control" value="@Model.SearchName" />
            <input name="page" type="hidden" value="1" />
            <div class="mt-3">
                <input type="submit" value="Procurar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Apagar</a>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Guia
            </th>
            <th>
                Nome
            </th>
            <th>
                Data da visita
            </th>
            <th>
                Descrição
            </th>
            <th>
                Numero máximo de pessoas
            </th>
            <th>
                Completo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VisitasGuiadas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Guia.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatadaVisita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NMaxPessoas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VisitasGuiadasId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VisitasGuiadasId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VisitasGuiadasId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav class="mt-3">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="1" asp-route-name="@Model.SearchName">First</a></li>

        @{
            int initalPage = Model.Pagination.CurrentPage - PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
            if (initalPage < 1) initalPage = 1;

            int finalPage = Model.Pagination.CurrentPage + PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
            if (finalPage > Model.Pagination.TotalPages) finalPage = Model.Pagination.TotalPages;
        }

        @for (int p = initalPage; p <= finalPage; p++)
        {
            if (p == Model.Pagination.CurrentPage)
            {
                <li class="page-item active"><a class="page-link" href="#">@p</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p" asp-route-name="@Model.SearchName">@p</a></li>
            }
        }

        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@Model.Pagination.TotalPages" asp-route-name="@Model.SearchName">Last</a></li>
    </ul>
</nav>
