@model MonuGuardaApp.Models.ReservaVisita

@{
    ViewData["Title"] = "Details";
}


<h1>Detalhes</h1>

    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card mt-50">
            <div class="card-body">
                <h4 class="card-title">
                    @Html.DisplayNameFor(model => model.Turista)
                </h4>
                <p class="card-text">
                <p>
                    @Html.DisplayFor(model => model.Turista.Nome)
                </p>
                <p>
                    @Html.DisplayNameFor(model => model.VisitasGuiadas)
                </p>
                <p>
                    @Html.DisplayFor(model => model.VisitasGuiadas.Descricao)
                </p>
                <p>
                    @Html.DisplayNameFor(model => model.DataReserva)
                </p>
                <p>
                    @Html.DisplayFor(model => model.DataReserva)
                </p>
                <p>
                    @Html.DisplayNameFor(model => model.NPessoas)
                </p>
                <p>
                    @Html.DisplayFor(model => model.NPessoas)
                </p>
            </div>
            <div>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.ReservaVisitaId">Editar</a>
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>

