
@model ReservaVisitasListViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Turista
            </th>
            <th>
                Visitas Guiadas
            </th>
            <th>
                Data Reserva
            </th>
            <th>
                Numero de Pessoas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ReservaVisitas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Turista.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitasGuiadas.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NPessoas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReservaVisitaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReservaVisitaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReservaVisitaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav class="mt-3">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="1" asp-route-data-inicio="@Model.SearchDataInicio" asp-route-data-fim="@Model.SearchDataFim">First</a></li>

        @{
            int initalPage = Model.Pagination.CurrentPage - PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
            if (initalPage < 1) initalPage = 1;

            int finalPage = Model.Pagination.CurrentPage + PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
            if (finalPage > Model.Pagination.TotalPages) finalPage = Model.Pagination.TotalPages;
        }

        @for (int p = initalPage; p <= finalPage; p++)
        {
            if (p == Model.Pagination.CurrentPage)
            {
                <li class="page-item active"><a class="page-link" href="#">@p</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p" asp-route-data-inicio="@Model.SearchDataInicio" asp-route-data-fim="@Model.SearchDataFim">@p</a></li>
            }
        }

        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@Model.Pagination.TotalPages" asp-route-data-inicio="@Model.SearchDataInicio" asp-route-data-fim="@Model.SearchDataFim">Last</a></li>
    </ul>
</nav>