@model ReservaVisitasListViewModel

@{
    ViewData["Title"] = "Reserva das Visitas";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar nova Reserva</a>
</p>
<div class="card mt-3 bg-info">
    <div class="card-body">
        <form asp-action="Index" method="get">
            <input name="name" type="search" class="form-control" value="@Model.SearchDataInicio" />
            <input name="page" type="hidden" value="1" />
            <div class="mt-3">
                <input type="submit" value="Procurar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Apagar</a>
            </div>
        </form>
    </div>
</div>


<div class="card-deck">
    <div class ="row justify-content-center">

    @foreach (var item in Model.ReservaVisitas)
    {
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card mt-50">
                <div class="card-body">
                    <h4 class="card-title">
                        @Html.DisplayFor(modelItem => item.Turista.Nome)
                    </h4>
                    <p class="card-text">
                    <p>
                        Descrição:
                        @Html.DisplayFor(modelItem => item.VisitasGuiadas.Descricao)
                    </p>
                    <p>
                        Data da Reserva:
                        @Html.DisplayFor(modelItem => item.DataReserva)
                    </p>
                    <p>
                        Numero De Pessoas:
                        @Html.DisplayFor(modelItem => item.NPessoas)
                    </p>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.ReservaVisitaId">Editar</a> 
                    <a asp-action="Details"  class="btn btn-primary" asp-route-id="@item.ReservaVisitaId">Detalhes</a> 
                    <a asp-action="Delete"  class="btn btn-danger" asp-route-id="@item.ReservaVisitaId">Apagar</a>
                </div>
            </div>
        </div>
    }
    </div>
</div>


<nav class="mt-3">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="1" asp-route-data-inicio="@Model.SearchDataInicio" asp-route-data-fim="@Model.SearchDataFim">First</a></li>

        @{
            int initalPage = Model.Pagination.CurrentPage - PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
            if (initalPage < 1) initalPage = 1;

            int finalPage = Model.Pagination.CurrentPage + PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
            if (finalPage > Model.Pagination.TotalPages) finalPage = Model.Pagination.TotalPages;
        }

        @for (int p = initalPage; p <= finalPage; p++)
        {
            if (p == Model.Pagination.CurrentPage)
            {
                <li class="page-item active"><a class="page-link" href="#">@p</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p" asp-route-data-inicio="@Model.SearchDataInicio" asp-route-data-fim="@Model.SearchDataFim">@p</a></li>
            }
        }

        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@Model.Pagination.TotalPages" asp-route-data-inicio="@Model.SearchDataInicio" asp-route-data-fim="@Model.SearchDataFim">Last</a></li>
    </ul>
</nav>
